<!-- <link href="/css/generic.css" rel="stylesheet"> -->

<div id="home_container">

	<h1 style="position:relative;margin-bottom:25px;">
		<a href="http://www.gtcoursewatch.us">gtcoursewatch.us</a>
	</h1>

	<!-- AdBlock Detection Test Ad -->

  <h4 id="fulfillment_stats">
  	Request Fulfillment Rate: - % (-/-) 
  </h4>

<!-- Nav tabs -->
	<ul class="nav nav-tabs red">
	  <li class="active"><a href="#home" data-toggle="tab">Course Watch</a></li>
	  <li><a href="#auto_reg" data-toggle="tab">Automated Registration</a></li>
	  
 		<li><a href="#class_stats" data-toggle="tab">Course Stats</a></li>
	  <li><a href="#live_chat" data-toggle="tab">Live Chat Room</a></li>
	</ul>

	<div class="tab-content" style="margin-bottom:50px">
	  	<div class="tab-pane fade in active" id="home" style="position:relative;">
			{{> course_watch}}			
		</div>

		<div class="tab-pane fade" style="position:relative;" id="class_stats">
			{{> class_stats}}
		</div>

		<div class="tab-pane fade" id="auto_reg">
			{{> automated_registration}}
		</div>

		<div class="tab-pane fade" id="live_chat">
			{{> live_chat}}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	    if ($('#test_ad').height() == 0) {
	    	console.log('adblock detected');
	    }
	});
</script>
